@{
    ViewData["Title"] = "Home Page";
}


<p>
    Приветствуем вас в тестовой версии сайта любителей игры: "Что? Где? Когда?"
</p>

@*<a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>*@
