<!--@{
    ViewData["Title"] = "Home Page";
}


<p>
    Приветствуем вас в тестовой версии сайта любителей игры: "Что? Где? Когда?"
</p>-->
@*<a asp-controller="Account" asp-action="Login">Вход</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>*@

@using CustomIdentityApp.ViewModels
@model IQueryable<CustomIdentityApp.ViewModels.Article>
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <a asp-controller="Articles" asp-action="ArticlesEdit">Новая статья</a>
</div>
<div class="text-center">
    @*@foreach (Article entity in Model)
    {
        <div>
            @entity.Title
            |
            <a asp-controller="Articles" asp-action="ArticlesEdit" asp-route-id="@entity.Id">редактировать</a>
            |
            <form method="post" asp-controller="Articles" asp-action="ArticlesDelete">
                <input type="hidden" name="Id" value="@entity.Id" />
                <input type="submit" value="удалить" />
            </form>
        </div>
    }*@
</div>
